.gc-account-leftbar .gc-account-user-menu .menu-item-teach a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications_button_small a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-sales a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-chatium a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-teach a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications_button_small a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-sales a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-chatium a::after, .gc-account-leftbar .gc-account-user-menu .menu-item-profile a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gc-main-content .with-left-menu {
  padding-left: 139px;
  display: block;
  width: 100%;
  margin: 0;
}

.gc-account-leftbar,
.gc-account-user-submenu-bar {
  background: white !important;
  padding: 0 16px;
  width: auto;
}
.gc-account-leftbar h3,
.gc-account-user-submenu-bar h3 {
  color: #52BD1F;
}

.gc-account-logo {
  background: url("https://assets.profreework.com/assets/logo.svg");
  height: 52px;
  width: 70px;
}
.gc-account-logo img[src="//fs-thb02.getcourse.ru/fileservice/file/thumbnail/h/d7a4111aa9c7a94abf90deb8f55f9435.png/s/x50/a/270328/sc/294"] {
  display: none;
}

.gc-account-leftbar .gc-account-user-menu li a,
.gc-account-user-submenu-bar li a {
  background: inherit;
}

.gc-account-leftbar .gc-account-user-menu > :not(:last-child) {
  margin-bottom: 5px;
}
.gc-account-leftbar .gc-account-user-menu .menu-item-profile a::after {
  width: 50px;
  height: 50px;
  background: url("https://assets.profreework.com/assets/avatar-no-image.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-profile img {
  border-radius: 100px;
}
.gc-account-leftbar .gc-account-user-menu .menu-item-profile img[src="/public/img/default_profile_50.png"] {
  display: none;
}
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications_button_small {
  margin: 20px 0;
}
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications_button_small a::after {
  background: url("https://assets.profreework.com/assets/notifications.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-teach a::after {
  background: url("https://assets.profreework.com/assets/education.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications a::after {
  background: url("https://assets.profreework.com/assets/messages.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-sales a::after {
  background: url("https://assets.profreework.com/assets/shopping.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-chatium a::after {
  background: url("https://assets.profreework.com/assets/chat.svg");
}
.gc-account-leftbar .gc-account-user-menu .menu-item-teach a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications_button_small a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-sales a::after,
.gc-account-leftbar .gc-account-user-menu .menu-item-chatium a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-teach a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications_button_small a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-sales a::after,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-chatium a::after {
  width: 30px;
  height: 30px;
}
.gc-account-leftbar .gc-account-user-menu .menu-item-teach a .menu-item-icon,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications a .menu-item-icon,
.gc-account-leftbar .gc-account-user-menu .menu-item-notifications_button_small a .menu-item-icon,
.gc-account-leftbar .gc-account-user-menu .menu-item-sales a .menu-item-icon,
.gc-account-leftbar .gc-account-user-menu .menu-item-chatium a .menu-item-icon,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-teach a .menu-item-icon,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications a .menu-item-icon,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-notifications_button_small a .menu-item-icon,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-sales a .menu-item-icon,
.gc-account-leftbar .gc-account-user-submenu-bar .menu-item-chatium a .menu-item-icon {
  visibility: hidden;
}
.gc-account-leftbar .gc-account-user-menu li a,
.gc-account-leftbar .gc-account-user-submenu-bar li a {
  position: relative;
  border-radius: 16px;
  padding: 16px;
}
.gc-account-leftbar .gc-account-user-menu li a:hover,
.gc-account-leftbar .gc-account-user-submenu-bar li a:hover {
  background: rgba(177, 177, 177, 0.1);
}
.gc-account-leftbar .gc-account-user-menu li.active a, .gc-account-leftbar .gc-account-user-menu li.active a:hover,
.gc-account-leftbar .gc-account-user-submenu-bar li.active a,
.gc-account-leftbar .gc-account-user-submenu-bar li.active a:hover {
  background: #52BD1F;
}

.lt-tsr-block {
  background: #FCE2CF;
  border-radius: 8px;
}

.btn.f-btn.button-sm {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  min-height: 35px;
}

.lt-tsr-block button {
  outline: 1px white;
  border-radius: 47px !important;
}

.pr-trenings-name-block-one,
.pr-trenings-name-block-two,
.pr-trenings-name-block-tree,
.pr-trenings-name-block-four,
.pr-trenings-name-block-five {
  display: flex;
  align-items: center;
}
.pr-trenings-name-block-one h2,
.pr-trenings-name-block-two h2,
.pr-trenings-name-block-tree h2,
.pr-trenings-name-block-four h2,
.pr-trenings-name-block-five h2 {
  font-size: 24px;
  color: #343434;
}
.pr-trenings-name-block-one .icon-name-block-one,
.pr-trenings-name-block-one .icon-name-block-two,
.pr-trenings-name-block-one .icon-name-block-tree,
.pr-trenings-name-block-one .icon-name-block-four,
.pr-trenings-name-block-one .icon-name-block-five,
.pr-trenings-name-block-two .icon-name-block-one,
.pr-trenings-name-block-two .icon-name-block-two,
.pr-trenings-name-block-two .icon-name-block-tree,
.pr-trenings-name-block-two .icon-name-block-four,
.pr-trenings-name-block-two .icon-name-block-five,
.pr-trenings-name-block-tree .icon-name-block-one,
.pr-trenings-name-block-tree .icon-name-block-two,
.pr-trenings-name-block-tree .icon-name-block-tree,
.pr-trenings-name-block-tree .icon-name-block-four,
.pr-trenings-name-block-tree .icon-name-block-five,
.pr-trenings-name-block-four .icon-name-block-one,
.pr-trenings-name-block-four .icon-name-block-two,
.pr-trenings-name-block-four .icon-name-block-tree,
.pr-trenings-name-block-four .icon-name-block-four,
.pr-trenings-name-block-four .icon-name-block-five,
.pr-trenings-name-block-five .icon-name-block-one,
.pr-trenings-name-block-five .icon-name-block-two,
.pr-trenings-name-block-five .icon-name-block-tree,
.pr-trenings-name-block-five .icon-name-block-four,
.pr-trenings-name-block-five .icon-name-block-five {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.pr-trenings-name-block-one .icon-name-block-one {
  background: url("https://assets.profreework.com/assets/icon-block.svg");
}

.pr-trenings-name-block-two .icon-name-block-two {
  background: url("https://assets.profreework.com/assets/icon-block-two.svg");
}

.pr-trenings-name-block-tree .icon-name-block-tree {
  background: url("https://assets.profreework.com/assets/icon-block-tree.svg");
}

.pr-trenings-name-block-four .icon-name-block-four {
  background: url("https://assets.profreework.com/assets/icon-block-four.svg");
}

.pr-trenings-name-block-five .icon-name-block-five {
  background: url("https://assets.profreework.com/assets/icon-block-five.svg");
}

.pr-trening-card-one,
.pr-trening-card-two,
.pr-trening-card-tree,
.pr-trening-card-four,
.pr-trening-card-five {
  border-radius: 8px;
  padding: 18px 18px 10px 24px;
  display: flex;
  max-width: 100%;
}
.pr-trening-card-one h4,
.pr-trening-card-two h4,
.pr-trening-card-tree h4,
.pr-trening-card-four h4,
.pr-trening-card-five h4 {
  font-weight: 700;
  font-size: 18px;
}
.pr-trening-card-one button,
.pr-trening-card-two button,
.pr-trening-card-tree button,
.pr-trening-card-four button,
.pr-trening-card-five button {
  padding: 8px 16px;
  line-height: 1.2;
  font-size: 14px;
  color: #FFF;
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 47px;
}
.pr-trening-card-one .pr-trening-card-one-content,
.pr-trening-card-one .pr-trening-card-two-content,
.pr-trening-card-one .pr-trening-card-tree-content,
.pr-trening-card-one .pr-trening-card-four-content,
.pr-trening-card-one .pr-trening-card-five-content,
.pr-trening-card-two .pr-trening-card-one-content,
.pr-trening-card-two .pr-trening-card-two-content,
.pr-trening-card-two .pr-trening-card-tree-content,
.pr-trening-card-two .pr-trening-card-four-content,
.pr-trening-card-two .pr-trening-card-five-content,
.pr-trening-card-tree .pr-trening-card-one-content,
.pr-trening-card-tree .pr-trening-card-two-content,
.pr-trening-card-tree .pr-trening-card-tree-content,
.pr-trening-card-tree .pr-trening-card-four-content,
.pr-trening-card-tree .pr-trening-card-five-content,
.pr-trening-card-four .pr-trening-card-one-content,
.pr-trening-card-four .pr-trening-card-two-content,
.pr-trening-card-four .pr-trening-card-tree-content,
.pr-trening-card-four .pr-trening-card-four-content,
.pr-trening-card-four .pr-trening-card-five-content,
.pr-trening-card-five .pr-trening-card-one-content,
.pr-trening-card-five .pr-trening-card-two-content,
.pr-trening-card-five .pr-trening-card-tree-content,
.pr-trening-card-five .pr-trening-card-four-content,
.pr-trening-card-five .pr-trening-card-five-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-right: 5px;
}
.pr-trening-card-one .pr-trening-card-one-content img,
.pr-trening-card-one .pr-trening-card-two-content img,
.pr-trening-card-one .pr-trening-card-tree-content img,
.pr-trening-card-one .pr-trening-card-four-content img,
.pr-trening-card-one .pr-trening-card-five-content img,
.pr-trening-card-two .pr-trening-card-one-content img,
.pr-trening-card-two .pr-trening-card-two-content img,
.pr-trening-card-two .pr-trening-card-tree-content img,
.pr-trening-card-two .pr-trening-card-four-content img,
.pr-trening-card-two .pr-trening-card-five-content img,
.pr-trening-card-tree .pr-trening-card-one-content img,
.pr-trening-card-tree .pr-trening-card-two-content img,
.pr-trening-card-tree .pr-trening-card-tree-content img,
.pr-trening-card-tree .pr-trening-card-four-content img,
.pr-trening-card-tree .pr-trening-card-five-content img,
.pr-trening-card-four .pr-trening-card-one-content img,
.pr-trening-card-four .pr-trening-card-two-content img,
.pr-trening-card-four .pr-trening-card-tree-content img,
.pr-trening-card-four .pr-trening-card-four-content img,
.pr-trening-card-four .pr-trening-card-five-content img,
.pr-trening-card-five .pr-trening-card-one-content img,
.pr-trening-card-five .pr-trening-card-two-content img,
.pr-trening-card-five .pr-trening-card-tree-content img,
.pr-trening-card-five .pr-trening-card-four-content img,
.pr-trening-card-five .pr-trening-card-five-content img {
  height: auto;
  align-self: center;
}

.pr-trening-card-one {
  background: #FCE2CF;
}
.pr-trening-card-one button {
  background: #FF8F3E;
}

.pr-trening-card-two {
  background: #EFD2F2;
}
.pr-trening-card-two button {
  background: #B01FBD;
}

.pr-trening-card-tree {
  background: #D4EDFB;
}
.pr-trening-card-tree button {
  background: #26A4EB;
}

.pr-trening-card-four {
  background: #FEF2D3;
}
.pr-trening-card-four button {
  background: #FABE25;
}

.pr-trening-card-five {
  background: #FCE2CF;
}
.pr-trening-card-five button {
  background: #FF8F3E;
}

.pr-trenings-detail-block-one,
.pr-trenings-detail-block-two,
.pr-trenings-detail-block-tree {
  height: 110px;
  background: rgba(82, 189, 31, 0.1);
  border-radius: 52px 8px 8px 52px;
  margin-bottom: 8px;
}
.pr-trenings-detail-block-one h2,
.pr-trenings-detail-block-two h2,
.pr-trenings-detail-block-tree h2 {
  font-size: 24px;
}
.pr-trenings-detail-block-one p,
.pr-trenings-detail-block-two p,
.pr-trenings-detail-block-tree p {
  font-size: 14px;
}
.pr-trenings-detail-block-one h2,
.pr-trenings-detail-block-one p,
.pr-trenings-detail-block-two h2,
.pr-trenings-detail-block-two p,
.pr-trenings-detail-block-tree h2,
.pr-trenings-detail-block-tree p {
  position: relative;
  left: 124px;
  top: -90px;
  color: #343434;
}
.pr-trenings-detail-block-one div,
.pr-trenings-detail-block-two div,
.pr-trenings-detail-block-tree div {
  background-color: white;
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  margin: 0;
  align-items: center;
  justify-items: center;
}
.pr-trenings-detail-block-one div .icon-detail-block-one,
.pr-trenings-detail-block-one div .icon-detail-block-two,
.pr-trenings-detail-block-one div .icon-detail-block-tree,
.pr-trenings-detail-block-two div .icon-detail-block-one,
.pr-trenings-detail-block-two div .icon-detail-block-two,
.pr-trenings-detail-block-two div .icon-detail-block-tree,
.pr-trenings-detail-block-tree div .icon-detail-block-one,
.pr-trenings-detail-block-tree div .icon-detail-block-two,
.pr-trenings-detail-block-tree div .icon-detail-block-tree {
  position: relative;
  top: 21px;
  left: 21px;
  width: 48px;
  height: 48px;
}

.icon-detail-block-one {
  background: url("https://assets.profreework.com/assets/icon-block-detail-regulations.svg");
}

.icon-detail-block-two {
  background: url("https://assets.profreework.com/assets/icon-block-detail-check.svg");
}

.icon-detail-block-tree {
  background: url("https://assets.profreework.com/assets/icon-block-detail.svg");
}

.pr-lesson-detail {
  margin: 0 24px 0 24px;
  height: 132px;
  background: #EEF9E9;
  border-radius: 16px;
}
.pr-lesson-detail .pr-lesson-detail-content {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -42%);
}
.pr-lesson-detail .pr-lesson-detail-content p {
  text-align: center;
  font-size: 14px;
  color: #828282;
}
.pr-lesson-detail .pr-lesson-detail-content .pr-lesson-number {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 100px;
}
.pr-lesson-detail .pr-lesson-detail-content .pr-lesson-number span {
  position: relative;
  left: 17px;
  top: 6px;
  font-size: 18px;
  color: #343434;
  font-weight: bold;
}
.pr-lesson-detail .pr-lesson-button-prewiew,
.pr-lesson-detail .pr-lesson-button-next {
  position: relative;
  top: 50%;
  margin-left: 16px;
  margin-right: 16px;
  transform: translate(0, -50%);
  width: 222px;
  height: 48px;
  background: inherit;
  border: 1px solid #52BD1F;
  border-radius: 40px;
}
.pr-lesson-detail .pr-lesson-button-next {
  left: 74%;
  transform: translate(-77%, -50%) !important;
}
