$primary-border-radius: 8px;
$circle-border-radius: 100px;
$button-border-radius: 47px;
$primary-text-color: #343434;
$primary-color: #52BD1F;
$card-one-color: #FCE2CF;
$card-one-button-color: #FF8F3E;
$font-size-h2: 24px;
$primary-font-size: 14px;
$card-font-size: 18px;
$primary-padding: 16px;
$small-padding: 8px;
%aside-item {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .gc-main-content .with-left-menu {
      padding-left: 139px;
      display: block;
      width: 100%;
      margin: 0;
    }

  .gc-account-leftbar,
  .gc-account-user-submenu-bar {
    background: white !important;
    padding: 0 16px;
    width: auto;
    h3 {
      color: $primary-color;
    }
  }
  .gc-account-logo {
    background: url('https://assets.profreework.com/assets/logo.svg');
    height: 52px;
    width: 70px;
    img[src="//fs-thb02.getcourse.ru/fileservice/file/thumbnail/h/d7a4111aa9c7a94abf90deb8f55f9435.png/s/x50/a/270328/sc/294"] {
      display: none;
    }
  }
  .gc-account-leftbar .gc-account-user-menu li a,
  .gc-account-user-submenu-bar li a {
    background: inherit;
  }
  .gc-account-leftbar {
    .gc-account-user-menu {
      > :not(:last-child) {
        margin-bottom: 5px;
      }
      .menu-item-profile {
        a::after {
          @extend %aside-item;
          width: 50px;
          height: 50px;
          background: url('https://assets.profreework.com/assets/avatar-no-image.svg');
        }
        img {
          border-radius: $circle-border-radius;
          &[src='/public/img/default_profile_50.png'] {
            display: none;
          }
        }
      }
      .menu-item-notifications_button_small {
        margin: 20px 0;
        a::after {
          background: url('https://assets.profreework.com/assets/notifications.svg');
        }
      }
      .menu-item-teach {
        a::after {
          background: url('https://assets.profreework.com/assets/education.svg');
        }
      }
      .menu-item-notifications {
        a::after {
          background: url('https://assets.profreework.com/assets/messages.svg');
        }
      }
      .menu-item-sales {
        a::after {
          background: url('https://assets.profreework.com/assets/shopping.svg');
        }
      }
      .menu-item-chatium {
        a::after {
          background: url('https://assets.profreework.com/assets/chat.svg');
        }
      }
    }
    .gc-account-user-menu,
    .gc-account-user-submenu-bar {
      .menu-item-teach,
      .menu-item-notifications,
      .menu-item-notifications_button_small,
      .menu-item-sales,
      .menu-item-chatium {
        a::after {
          @extend %aside-item;
          width: 30px;
          height: 30px;
        }
        a {
          .menu-item-icon {
            visibility: hidden;
          }
        }
      }
      li {
        a {
          position: relative;
          border-radius: 16px;
          padding: 16px;
          &:hover {
            background: rgba(177, 177, 177, 0.1);
          }
        }
        &.active {
          a, a:hover {
            background: $primary-color;
          }
        }
      }
    }
  }
  .lt-tsr-block {
    background: #FCE2CF;
    border-radius: $primary-border-radius;
  }
  .btn.f-btn.button-sm {
    padding-left: $primary-padding;
    padding-right: $primary-padding;
    font-size: $primary-font-size;
    min-height: 35px;
  }
  .lt-tsr-block button {
    outline: 1px white;
    border-radius: $button-border-radius !important;
  }
  .pr-trenings-name-block-one,
  .pr-trenings-name-block-two,
  .pr-trenings-name-block-tree,
  .pr-trenings-name-block-four,
  .pr-trenings-name-block-five {
    display: flex;
    align-items: center;
    h2 {
      font-size: $font-size-h2;
      color: $primary-text-color;
    }
    .icon-name-block-one,
    .icon-name-block-two,
    .icon-name-block-tree,
    .icon-name-block-four,
    .icon-name-block-five {
      width: 44px;
      height: 44px;
      margin-right: 10px;
    }
  }
  .pr-trenings-name-block-one {
    .icon-name-block-one {
      background: url('https://assets.profreework.com/assets/icon-block.svg');
    }
  }
  .pr-trenings-name-block-two {
    .icon-name-block-two {
      background: url('https://assets.profreework.com/assets/icon-block-two.svg');
    }
  }
  .pr-trenings-name-block-tree {
    .icon-name-block-tree {
      background: url('https://assets.profreework.com/assets/icon-block-tree.svg');
    }
  }
  .pr-trenings-name-block-four {
    .icon-name-block-four {
      background: url('https://assets.profreework.com/assets/icon-block-four.svg');
    }
  }
  .pr-trenings-name-block-five {
    .icon-name-block-five {
      background: url('https://assets.profreework.com/assets/icon-block-five.svg');
    }
  }
  .pr-trening-card-one,
  .pr-trening-card-two,
  .pr-trening-card-tree,
  .pr-trening-card-four,
  .pr-trening-card-five {
    border-radius: $primary-border-radius;
    padding: 18px 18px 10px 24px;
    display: flex;
    max-width: 100%;
    h4 {
      font-weight: 700;
      font-size: 18px;
    }
    button {
      padding: 8px 16px;
      line-height: 1.2;
      font-size: $primary-font-size;
      color: #FFF;
      border: 1px solid #FFF;
      box-sizing: border-box;
      border-radius: $button-border-radius;
    }
    .pr-trening-card-one-content,
    .pr-trening-card-two-content,
    .pr-trening-card-tree-content,
    .pr-trening-card-four-content,
    .pr-trening-card-five-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      margin-right: 5px;
      img {
        height: auto;
        align-self: center;
      }
    }
  }
  .pr-trening-card-one {
    background: $card-one-color;
    button {
      background: $card-one-button-color;
    }
  }
  .pr-trening-card-two {
    background: #EFD2F2;
    button {
      background: #B01FBD;
    }
  }
  .pr-trening-card-tree {
    background: #D4EDFB;
    button {
      background: #26A4EB;
    }
  }
  .pr-trening-card-four {
    background: #FEF2D3;
    button {
      background: #FABE25;
    }
  }
  .pr-trening-card-five {
    background: $card-one-color;
    button {
      background: $card-one-button-color;
    }
  }
  .pr-trenings-detail-block-one,
  .pr-trenings-detail-block-two,
  .pr-trenings-detail-block-tree {
    height: 110px;
    background: rgba(82, 189, 31, 0.1);
    border-radius: 52px $primary-border-radius $primary-border-radius 52px;
    margin-bottom: 8px;
    h2 {
      font-size: $font-size-h2;
    }
    p {
      font-size: $primary-font-size;
    }
    h2,
    p {
      position: relative;
      left: 124px;
      top: -90px;
      color: $primary-text-color;
    }
    div {
      background-color: white;
      position: relative;
      top: 10px;
      left: 10px;
      border-radius: $circle-border-radius;
      width: 90px;
      height: 90px;
      margin: 0;
      align-items: center;
      justify-items: center;
      .icon-detail-block-one,
      .icon-detail-block-two,
      .icon-detail-block-tree {
        position: relative;
        top: 21px;
        left: 21px;
        width: 48px;
        height: 48px;
      }
    }
  }
  .icon-detail-block-one {
    background: url('https://assets.profreework.com/assets/icon-block-detail-regulations.svg');
  }
  .icon-detail-block-two {
    background: url('https://assets.profreework.com/assets/icon-block-detail-check.svg');
  }
  .icon-detail-block-tree {
    background: url('https://assets.profreework.com/assets/icon-block-detail.svg');
  }
  .pr-lesson-detail {
    margin: 0 24px 0 24px;
    height: 132px;
    background: #EEF9E9;
    border-radius: 16px;
    .pr-lesson-detail-content {
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -42%);
      p {
        text-align: center;
        font-size: $primary-font-size;
        color: #828282;
      }
      .pr-lesson-number {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 45px;
        height: 45px;
        background: white;
        border-radius: $circle-border-radius;
        span {
          position: relative;
          left: 17px;
          top: 6px;
          font-size: $card-font-size;
          color: $primary-text-color;
          font-weight: bold;
        }
      }
    }
    .pr-lesson-button-prewiew,
    .pr-lesson-button-next {
      position: relative;
      top: 50%;
      margin-left: $primary-padding;
      margin-right: $primary-padding;
      transform: translate(0, -50%);
      width: 222px;
      height: 48px;
      background: inherit;
      border: 1px solid $primary-color;
      border-radius: 40px;
    }
    .pr-lesson-button-next {
      left: 74%;
      transform: translate(-77%, -50%) !important;
    }
  }
