<div class="pr-trening-card-one">
    <p>
        Маркетолог
    </p>
    <p>
        от&nbsp;0&nbsp;до&nbsp;PRO
    </p>
    <div class="pr-trening-card-one-content">
        <button onclick="location.href='https://test-junte.getcourse.ru/marcetolog'" type="button">40&nbsp;уроков</button>
        <img src="https://assets.profreework.com/assets/marketolog.svg">
    </div>
</div>

<div class="pr-trening-card-two">
    <p>
        Матрица
    </p>
    <p>
        маркетинга
    </p>
    <div class="pr-trening-card-two-content">
        <button>40&nbsp;уроков</button>
        <img src="https://assets.profreework.com/assets/matric.svg">
    </div>
</div>
