<a><div class="pr-trenings-detail-block-one" onclick="location.href='https://profreework-junte.getcourse.ru/introduction'">
    <div>
        <div class="icon-detail-block-one">
        </div>
    </div>
    <h2>Правила и рекомендации</h2>
    <p>Перед тем, как вы начнете обучение по данному курсу, пожалуйста, ознакомьтесь с правилами и рекомендациями.</p>
</div></a>

<div class="pr-trenings-detail-block-two">
    <div>
        <div class="icon-detail-block-two">
        </div>
    </div>
    <h2>Вводный урок</h2>
    <p>Введение в интернет маркетинг</p>
</div>

<div class="pr-trenings-detail-block-tree">
    <div>
        <div class="icon-detail-block-tree">
        </div>
    </div>
    <h2>№ 1</h2>
    <p>Сегментация ЦА, УТП в клиенте. Аватар клиента.</p>
</div>

<div class="pr-trenings-detail-block-tree">
    <div>
        <div class="icon-detail-block-tree">
        </div>
    </div>
    <h2>№ 1</h2>
    <p>Сегментация ЦА, УТП в клиенте. Аватар клиента.</p>
</div>
