<div class="pr-trenings-name-block-one">
    <div class="icon-name-block-one">
    </div>
    <h2>Маркетинг и&nbsp;реклама</h2>
</div>

<div class="pr-trenings-name-block-two">
    <div class="icon-name-block-two">
    </div>
    <h2>Дизайн и&nbsp;творчество</h2>
</div>

<div class="pr-trenings-name-block-tree">
    <div class="icon-name-block-tree">
    </div>
    <h2>Разработка и&nbsp;технические специалисты</h2>
</div>
